<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Lab Representation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Choose a Room</h1>
    <ul>
        <li><a href="{{ url_for('room', current_room='Room1') }}">Room 1</a></li>
        <li><a href="{{ url_for('room', current_room='Room2') }}">Room 2</a></li>
        <!-- Add more rooms as needed -->
    </ul>
</body>
</html>
