<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ current_room }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='room.css') }}">
</head>
<body>
    <h1>{{ current_room }}</h1>
    <h2>Available Computers</h2>
    <div class="sidebar">
        <h2>{{ current_room }}  </h2>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>


    <div class="devices-container">
        {% for device in devices %}
            <div class="device">
                <p class="hostname">{{ device.hostname }}</p>
                {% if device.is_reserved %}
                    <p class="status reserved"></p>
                    <button class="reserve-btn restricted" disabled>Reserved</button>
                {% else %}
                    <a href="{{ url_for('reserve', hostname=device.hostname) }}" class="reserve-btn available">Reserve</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <a href="{{ url_for('index') }}">Back to Home</a>

    <!-- Popup Messages -->
    <div class="flash-popup">
        <div class="flash-popup-content">
            <p class="flash-message"></p>
            <button class="close-btn">&times;</button>
        </div>
    </div>
    <script type="text/javascript">
        function showPopup(message, type) {
            const popup = document.querySelector('.flash-popup');
            const popupContent = document.querySelector('.flash-popup-content');
            const messageElement = document.querySelector('.flash-message');
            const closeButton = document.querySelector('.close-btn');

            popup.style.display = 'flex'; // Show the popup overlay
            popupContent.classList.add(type); // Add the type (success, warning, danger) class
            messageElement.textContent = message; // Set the message text

            // Optional: Hide the popup when clicking the close button
            closeButton.onclick = function() {
                popup.style.display = 'none';
            };
        }

        window.onload = function() {
            const flashMessages = {{ get_flashed_messages(with_categories=true) | tojson }};
            console.log(flashMessages);
            if (flashMessages.length > 0) {
                const message = flashMessages[0][1]; // Get the message text
                const type = flashMessages[0][0]; // Get the category (success, warning, danger)
                showPopup(message, type); // Display the popup
            }
        };
    </script>

</body>
</html>
